html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

h1 {
  font-size: 3em;
  line-height: 54px; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.3em;
  line-height: 26px; }

p {
  font-size: 1em; }

html, body {
  height: 100%; }

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?qj2odw');
  src: url('fonts/icomoon.eot?#iefixqj2odw') format('embedded-opentype'), url('fonts/icomoon.woff?qj2odw') format('woff'), url('fonts/icomoon.ttf?qj2odw') format('truetype'), url('fonts/icomoon.svg?qj2odw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-envelop:before {
  content: "\e945"; }

.icon-twitter:before {
  content: "\ea91"; }

.icon-github3:before {
  content: "\eab3"; }

.icon-soundcloud:before {
  content: "\eac4"; }

.icon-linkedin:before {
  content: "\eac8"; }

.container {
  height: 100%;
  min-height: 100%; }

section, footer {
  min-height: 250px;
  padding: 70px 50px;
  transition: padding .3s;
  width: 100%; }
  @media (max-width: 600px) {
    section, footer {
      padding: 40px 15px; } }
  section .content, footer .content {
    max-width: 725px;
    margin: 0 auto; }

.highlight-bg {
  padding: 0 1%; }

.hamburger {
  width: 35px;
  height: 35px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5000;
  padding: 3px 5px 0 5px; }
  .hamburger div {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    border-radius: 2px; }
  .hamburger:hover {
    cursor: pointer;
    background-color: #fff; }
    .hamburger:hover div {
      background-color: black; }

nav {
  text-align: right;
  height: 40px;
  width: 100%;
  line-height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000; }
  nav .content {
    margin: 0 auto;
    max-width: 725px; }
  nav a {
    text-align: center;
    width: 80px;
    display: inline-block; }

.hero .content h1 {
  padding: 5px 0; }
  @media (max-width: 600px) {
    .hero .content h1 {
      font-size: 2.5em;
      line-height: 46px; } }

footer {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1em; }
  footer .content .row {
    margin: 0 0 8px; }
  footer .content p {
    margin: 15px 0; }
  footer .content a {
    display: inline-block;
    width: 280px; }
    footer .content a span {
      vertical-align: middle; }
  footer .content .icon {
    font-size: 1.5em;
    margin-right: 3px; }
  @media (max-width: 680px) {
    footer {
      padding-top: 80px; }
      footer .content {
        text-align: center; }
        footer .content .row {
          display: inline-block; }
          footer .content .row a {
            width: auto; }
        footer .content .url {
          display: none; }
        footer .content .icon {
          font-size: 1.6em;
          margin: 0 10px; } }

::selection {
  background: #5AF;
  color: #FFF; }

body, html {
  background-color: #252324; }

.container {
  -webkit-animation: body-fade-in 0.4s 0.1s forwards;
  animation: body-fade-in 0.4s 0.1s forwards;
  opacity: 0; }

.hamburger {
  background-color: black; }

nav {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Helvetica Neue'; }
  nav a {
    color: #252324;
    text-decoration: none;
    transition: color .1s ease-in-out; }
    nav a:visited {
      color: #252324; }
    nav a:hover {
      color: #37A2BC; }

.hero {
  background-color: #FFDE59;
  font-family: 'Helvetica Neue'; }
  .hero .highlight-bg {
    background-color: #252324;
    color: #FFDE59; }

.about {
  background-color: #FFF;
  background-image: url('../img/texture4.png');
  font-family: 'Georgia'; }
  .about .highlight-bg {
    background-color: #252324;
    color: #FFF; }
  .about h6 {
    text-indent: 20px; }

footer {
  font-family: 'Helvetica Neue';
  background-color: #252324;
  color: #FFF; }
  footer a {
    color: #FFF;
    text-decoration: none;
    transition: color .1s ease-in-out; }
    footer a:visited {
      color: #FFF; }
    footer a:hover {
      color: #37A2BC; }

@-webkit-keyframes body-fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes body-fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.body-fade-in {
  -webkit-animation-name: body-fade-in;
  animation-name: body-fade-in; }
