$primary-clr : #FFE52B; //rgb(255, 229, 43)
$secondary-clr : #37A2BC;
// $third-clr: #676A5D;
$black : #252324;
$white: #FFF;
$selection-clr: #5AF;

$primary-font: 'Helvetica Neue';
$secondary-font : 'Georgia';

::selection {
  background: $selection-clr;
  color: $white;
}

.hero {
  font-family: $primary-font;
  background-color: $primary-clr;
  .highlight-bg {
    background-color: $black;
    color: $primary-clr;
  }
}

.about {
  font-family: $secondary-font;
  background-color: $white;
  .highlight-bg {
    background-color: $black;
    color: $white;
  }
  background-image: url(../img/texture2.png);
}

footer {
  font-family: $primary-font;
  background-color: $black;
  color: $white;

  a {
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    color: $white;
    &:visited {
      color: $white;
    }

    &:hover {
      color: $secondary-clr;
    }
  }
}
