$primary-clr: #FFDE59;
$secondary-clr: #37A2BC;
$selection-clr: #5AF;
$black: #252324;
$white: #FFF;

$primary-font: 'Helvetica Neue', Helvetica, sans-serif;
$secondary-font: 'Georgia';


// foundation
::selection {
  background: $selection-clr;
  color: $white;
}

body, html {
  background-color: $black;
}

a {
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.container {
  animation: body-fade-in .4s .1s forwards;
  opacity: 0;
}

.highlight-bg {
  transition: all .3s;
}

//hero
.hero {
  background-color: $primary-clr;
  color: $black;
  font-family: $primary-font;
  transition: all .3s;

  .highlight-bg {
    background-color: $black;
    color: $primary-clr;
  }

  &.alternate {
    background-color: $black;
    color: $primary-clr;

    .highlight-bg {
      background-color: $primary-clr;
      color: $black;
    }
  }
}

// sub sections
.about {
  background-color: $white;
  background-image: url('../img/texture4.png');
  background-position: 50%;
  color: $black;
  font-family: $secondary-font;
  transition: all .3s;

  .highlight-bg {
    background-color: $black;
    color: $white;
  }

  .portfolio a {
    border: 2px solid $black;
    transition: background-color .1s, border .1s;

    &:hover {
      background-color: $black;
      color: $white;
      transition: all .3s;
    }
  }

  &.alternate {
    background-color: $black;
    color: $white;

    .highlight-bg {
      background-color: $white;
      color: $black;
    }

    .portfolio a {
      border-color: $white;

      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
}

// footer
footer {
  background-color: $black;
  color: $white;
  font-family: $primary-font;

  a {
    color: $white;
    text-decoration: none;
    transition: color .1s ease-in-out;

    &:visited {
      color: $white;
    }

    &:hover {
      color: $secondary-clr;
    }
  }

}

// animations
@-webkit-keyframes body-fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes body-fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.body-fade-in {
  -webkit-animation-name: body-fade-in;
  animation-name: body-fade-in;
}

.diamond {
  border-bottom-color: rgba(90, 90, 90, .8);

  &::after {
    border-top-color: rgba(130, 130, 130, .8);
  }

  &:hover {
    border-bottom-color: rgba(120, 120, 120, .8);

    &::after {
      border-top-color: rgba(160, 160, 160, .8);
    }
  }
}
