//rgb(255,222,89)
$primary-clr : #FFDE59;
$secondary-clr : #37A2BC;
$selection-clr: #5AF;
$black : #252324;
$white: #FFF;

$primary-font: 'Helvetica Neue';
$secondary-font : 'Georgia';


// foundation
::selection {
  background: $selection-clr;
  color: $white;
}

body, html {
  background-color: $black;
}

.container {
  -webkit-animation: body-fade-in 0.4s 0.1s forwards;
  animation: body-fade-in 0.4s 0.1s forwards;
  opacity: 0;
}

// hamburger
.hamburger {
  background-color: black;
}

// nav
nav {
  background-color: rgba(255,255,255, 0.8);
  font-family: $primary-font;

  a {
    color: $black;
    text-decoration: none;
    transition: color .1s ease-in-out;

    &:visited {
      color: $black;
    }

    &:hover {
      color: $secondary-clr;
    }
  }
}

//hero
.hero {
  background-color: $primary-clr;
  font-family: $primary-font;

  .highlight-bg {
    background-color: $black;
    color: $primary-clr;
  }
}

// sub sections
.about {
  background-color: $white;
  background-image: url('../img/texture4.png');
  font-family: $secondary-font;

  .highlight-bg {
    background-color: $black;
    color: $white;
  }

  h6 {
    text-indent: 20px;
    // text-align: justify;
    // text-justify: inter-word;
  }
}

// footer
footer {
  font-family: $primary-font;
  background-color: $black;
  color: $white;

  a {
    color: $white;
    text-decoration: none;
    transition: color .1s ease-in-out;

    &:visited {
      color: $white;
    }

    &:hover {
      color: $secondary-clr;
    }
  }
}

// animations
@-webkit-keyframes body-fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes body-fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.body-fade-in {
  -webkit-animation-name: body-fade-in;
          animation-name: body-fade-in;
}
