@import 'reset';

* { box-sizing: border-box; }
h1 { font-size: 3em; line-height: 54px; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.3em; line-height: 26px}
p { font-size: 1em; }
html, body{ height: 100%; }
h1, h2, h3, h4, h5, h6, p {
  widows: 3;
  orphans: 3;
}
