footer {
  font-weight: 100;
  font-size: 1.1em;
  letter-spacing: 1px;

  .content {
    text-align: center;
  }

  ul {
    cursor: default;

    li {
      display: inline-block;
    }
  }

  p {
    margin-top: 20px;
  }

  .icon {
    font-size: 1.8em;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
