footer {
  // text-align: center;
  font-weight: 100;
  letter-spacing: 1px;

  .content{
    p {
      margin: 10px 0px;
    }
    a {
      margin: 7px 0px;
      display: inline-block;
      width: 280px;
      span{
        vertical-align: middle;
      }
      @media (max-width: 700px){
        & {
          width: auto;
        }
      }
    }
    .icon {
      margin: 0 6px;
      font-size: 1.7em;
    }
  }
  @media (max-width: 700px){
    padding-top: 80px;
    .row {
      display: inline-block;
    }
    .url {
      display: none;
    }
    .content {
      text-align: center;
    }
  }
}
