.hamburger {
  height: 35px;
  position: fixed;
  padding: 3px 5px 0;
  top: 10px;
  left: 10px;
  width: 35px;
  z-index: 5000;

  div {
    background-color: #FFF;
    border-radius: 2px;
    height: 3px;
    margin: 5px auto;
    width: 100%;
  }

  &:hover {
    background-color: #FFF;
    cursor: pointer;

    div {
      background-color: black;
    }
  }
}
