.icon {
  bottom: 0px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  z-index: 5000;

  &:after {
    content: '';
    position: absolute;
    left: -40px;
    top: 40px;
    width: 0;
    height: 0;
    border: 40px solid transparent;
  }

  &:hover{
    cursor: pointer;
  }
}
