.portfolio {
  margin-top: 50px;
  text-align: center;

  a {
    display: inline-block;
    padding: 25px 38px;
    font-size: 1.3em;
    text-decoration: none;
    border: 2px solid color(blk);
    transition: background-color .1s, border .1s;

    &:hover {
      cursor: pointer;
      background-color: color(blk);
      color: color(wht);
      transition: all .3s;
    }

    .is-dark-ui & {
      border-color: color(wht);

      &:hover {
        background-color: color(wht);
        color: color(blk);
      }
    }
  }
}
